// =================================================Обнуляющие стили==================================================
* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
button {
  cursor: pointer;
  border: transparent;
  background-color: transparent;
}
ul,
summary {
  list-style: none;
}

// =============================================Бургер меню==============================================================
// ============Мобильное меню=======
// Кнопка бургера
.burger-menu-wrap {
  width: 50px;
  height: 50px;
  background: transparent;
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 20px;
  z-index: 20;
  &:hover {
    transform: scale(90%);
  }
  @media (max-width: 900px) {
    display: flex;
  }
}
// Контент бургера
.burger-menu {
  display: flex;
  width: 40px;
  height: 3px;
  background-color: black;
  position: relative;
  z-index: 20;
  &::before {
    content: "";
    display: flex;
    width: 40px;
    height: 3px;
    background-color: black;
    position: absolute;
    top: 12px;
    transition: 0.5s;
  }
  &::after {
    content: "";
    display: flex;
    width: 40px;
    height: 3px;
    background-color: black;
    position: absolute;
    top: -12px;
    transition: 0.5s;
  }
  &.active {
    display: flex;
    width: 40px;
    height: 0;
    background-color: black;
    position: relative;
    &::before {
      content: "";
      display: flex;
      width: 40px;
      height: 3px;
      background-color: black;
      position: absolute;
      top: 0;
      transform: rotate(45deg);
      transition: 0.5s;
    }
    &::after {
      content: "";
      display: flex;
      width: 40px;
      height: 3px;
      background-color: black;
      position: absolute;
      top: 0;
      transform: rotate(-45deg);
      transition: 0.5s;
    }
  }
}
// Мобильное меню
.nav_box-mob {
  padding: 25px;
  position: fixed;
  display: flex;
  justify-content: center;
  width: 100%;
  left: 0;
  top: 0;
  opacity: 0;
  transition: 0.5s;
  transform: translateY(-436px);
  background-color: #07086c;
  &.active {
    transition: 0.5s;
    opacity: 1;
    transform: translateY(0);
    z-index: 10;
  }
}
.nav_box-mob-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

// ===================================================Адаптивный шрифт=============================================

@mixin adaptiveValue($property, $startSize, $minSize) {
  $addSize: $startSize - $minSize;
  // Ширина полотна макета
  $maxWidth: 1920;
  #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320}));
}
// Подключение
@include adaptiveValue("font-size", 40, 25);
// font-size: calc(25px + (40 - 25) * ((100vw - 320px) / (1600 - 320)));    Без миксина

// =========================================Перевод em=====================================================

/*
    @function em($px){
    $result: $px / 16 + em;
    @return $result;
    }
  */

/*
    $px - размер в пикселях
    $size - размер по умолчанию
   */

@function em($px, $size) {
  $result: $px / $size + em;
  @return $result;
}

// Подключение
.title {
  margin: em(10, 40) 0 em(10, 40) 0;
  line-height: em(50, 40);
}

// =========================================Перевод rem=====================================================
// Размер в пикселях
@function rem($px) {
  $result: $px / 16 + rem;
  @return $result;
}
// Подключение
.title {
  line-height: rem(50);
}

// =========================================Попап=====================================================

.popup-bg {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 100;
  visibility: hidden;
  &.active {
    visibility: visible;
  }
}
.popup-wrap {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  padding: 40px 10px;
}
.popup-exit {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  font-size: 1.5em;
  transition: 0.2s;
  &:hover {
    transition: 0.2s;
    transform: scale(1.2);
  }
}

//==================================================Пропорциональное изменение по высоте========================================
/*  h - высота элемента
    w - ширина родительского блока 
*/

@function prop($h, $w) {
  $result: $h / $w * 100%;
  @return $result;
}

// Подключение
.img {
  padding-bottom: prop(308, 644);
}

//==================================================Спойлер========================================

.spoiler-title {
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  transition: 0.3s;
  z-index: 20;
  &::before {
    content: "";
    position: absolute;
    display: flex;
    width: 10px;
    height: 1px;
    background-color: black;
    top: 50%;
    transform: rotate(40deg);
    left: 0;
    transition: 0.3s;
  }
  &::after {
    content: "";
    position: absolute;
    display: flex;
    width: 10px;
    height: 1px;
    background-color: black;
    top: 50%;
    transform: rotate(-40deg);
    left: 8px;
    transition: 0.3s;
  }
  &.active {
    transition: 0.3s;
    &::before {
      background-color: red;
      transform: rotate(-40deg);
      transition: 0.3s;
    }
    &::after {
      background-color: red;
      transform: rotate(40deg);
      transition: 0.3s;
    }
  }
}
.spoiler-box {
}
.spoiler-item {
  overflow: hidden;
  transition: 1s;
}
.spoiler-text {
  transition: 0.9s;
  transform: translateY(-100%);
  opacity: 0;
  transition-delay: 0.6s;
  &.active {
    transition: 0.45s;
    transform: translateY(0);
    opacity: 1;
  }
}

//===================================================Анимация переходящего фона==========================
//элемент
.service__content-item {
  overflow: hidden;
  & :not(:first-child) {
    position: relative;
    z-index: 20;
  }
}
//элемент который двигается и меняет фон
.service__content-item-bg-blue {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: transparent;
  transform: translateX(-100%);
}

//=====================================================увеличенное фото при клике===========================
.bigImg {
  // transform: scale(160%);
  @media (max-width: 750px) {
    width: 90%;
    transform: scale(100%);
  }
}
.minimize {
  cursor: pointer;
  &:hover {
    transform: scale(1.01);
  }
}
.popup-bg {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 100;
  visibility: hidden;
  &.active {
    visibility: visible;
  }
}
.popup-wrap {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  padding: 40px 10px;
}
.img-exit {
  color: white;
  z-index: 100;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  font-size: 1.5em;
  transition: 0.2s;
  &:hover {
    transition: 0.2s;
    transform: scale(1.2);
  }
}

//============================================шаблон формы обратной=======================
//поля с ошибкой подсвечиваются
.form {
  ._error {
    box-shadow: 0 0 15px red;
  }
}
.send-message {
  display: none;
  width: 100%;
  justify-content: center;
  position: absolute;
  &.active {
    display: flex;
  }
}
.send-message-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  border-radius: 10px;
  &._red {
    background-color: rgb(197, 34, 34);
  }
  &._green {
    background-color: rgb(7, 255, 172);
  }
}
.send-message-text {
}

//=======================================================табы====================================================

.tabs {
  display: flex;
  flex-direction: column;
}
.tabs__title-box {
  display: flex;
  width: 100%;
  @media (max-width: 600px) {
    flex-direction: column;
    align-items: flex-start;
  }
}
.tabs__title {
  flex: 1 1 33.333%;
  text-align: center;
  cursor: pointer;
}
.tabs__item-box {
}
.tabs__item {
  display: none;
  flex: 1 1 100%;
  &.active {
    display: flex;
  }
}

//==================================================fullscreen==========================================

body {
  height: 100%;
}
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.fullscreen {
  min-height: 100vh;
}
.fullscreen__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}
.content__wrap {
  flex: 1 1 auto;
}
