// ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
// ==================================Начальные файлы======================================================
// ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||

// ===================================================Миксины=============================================

//----------------Миксин брейкпоинтов------------------
@mixin respond-to($breakpoint) {
    @if map-has-key($breakpoints, $breakpoint) {
        @media #{inspect(map-get($breakpoints, $breakpoint))} {
            @content;
        }
    }
}


//---------------------------------clamp---------------
@function clamp-px($minFont, $maxFont, $minVp: 375, $maxVp: 1900) {
    @if not unitless($minFont) or not unitless($maxFont) {
        @warn "Font arguments should be unitless";
    }

    @if not unitless($minVp) or not unitless($maxVp) {
        @warn "Viewport arguments should be unitless";
    }

    $minFont: calc($minFont / 16);
    $maxFont: calc($maxFont / 16);
    $minVp: calc($minVp / 16);
    $maxVp: calc($maxVp / 16);

    // y = mx + q
    $m: calc(($maxFont - $minFont) / ($maxVp - $minVp));
    $q: calc(-1 * $minVp * $m + $minFont);
    $m: calc($m * 100);
    // --не работает------------
    // Rounding with precision of 4
    // $m: math.div(math.round($m * 10000), 10000);
    // $q: math.div(math.round($q * 10000), 10000);
    // $minFont: math.div(math.round($minFont * 10000), 10000);
    // $maxFont: math.div(math.round($maxFont * 10000), 10000);

    @return clamp(calc($minFont * 1rem), calc($q * 1rem + calc($m * 1vw)), calc($maxFont * 1rem));
}

//------------------------шрифты------------------------------
@mixin font($weight, $size, $color, $height) {
    font-weight: $weight;
    font-size: $size;
    color: $color;
    line-height: $height;
}

//---------------------адаптивное св-во-----------------------------
@mixin adaptiveValue($property, $startSize, $minSize) {
    $addSize: $startSize - $minSize;
    // Ширина полотна макета
    $maxWidth: 1920;
    #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320}));
}

// =========================================Функции=====================================================

// //перевод в rem
// @function rem($size) {
//     @return $size / 16px * 1rem;
// }

// перевод в rem
@function r($px) {
    $result: $px / 16+rem;
    @return $result;
}

//пропорциональное изменение высоты изображения
@function prop($h, $w) {
    $result: $h / $w * 100%;
    @return $result;
}

//адаптивный отступ
@function in($w, $x) {
    $result: $x * 100% / $w;
    @return $result;
}

// ============================root=================================

:root {


    //container
    .container {
        max-width: 1300px;
        margin: 0 auto;

        @include respond-to("pc-old") {
            max-width: 1010px;
        }

        @include respond-to("nout") {
            max-width: 800px;
        }

        @include respond-to("tab") {
            max-width: 650px;
        }

        @include respond-to("tel") {
            max-width: 410px;
        }

        @include respond-to("tel-old") {
            max-width: 325px;
        }
    }

    section {
        padding: 0 10px;
    }

    //===========font-family============


    //===========color===========
    --primary-black: #000;
    --primary-grey:#f7f7f7;
    --primary-green: #5a9f44;
    --primary-white: #fff;
    --primary-red: #df3c2d;

    --secondary-black: #050505;
    --secondary-gray: #ededed;
    --player-1:rgba(255, 255, 255, 0.4);


    --tertiary-grey: rgb(245, 245, 245);
    --gradient-green: linear-gradient(224deg, #a7d275 0%, #5a9f44 100%);
    --gradient-yellow: radial-gradient(140.96% 127.89% at 91.19% 9.88%, rgb(251, 214, 93) 0%, rgb(255, 250, 232) 100%);
    --secondary-gradient-green: radial-gradient(138.84% 125.97% at 89.4% 10.83%, rgb(167, 210, 117) 0%, rgb(247, 255, 237) 100%);
    --gradient-pink: radial-gradient(125.68% 125.68% at 90.48% 11.55%, rgb(253, 218, 198) 0%, rgb(255, 242, 235) 100%);

    //---------font-weight--------------
    --fw-100: 100;
    --fw-200: 200;
    --fw-300: 300;
    --fw-400: 400;
    --fw-500: 500;
    --fw-600: 600;
    --fw-700: 700;
    --fw-800: 800;
    --fw-900: 900;

    //---------font-size--------------
    --fs-8: 0.5rem;
    --fs-10: 0.63rem;
    --fs-12: 0.75rem;
    --fs-14: 0.875rem;
    --fs-15: 0.94rem;
    --fs-16: 1rem;
    --fs-18: 1.125rem;
    --fs-19: 1.188rem;
    --fs-20: 1.25rem;
    --fs-21: 1.31rem;
    --fs-22: 1.38rem;
    --fs-24: 1.5rem;
    --fs-26: 1.63rem;
    --fs-28: 1.75rem;
    --fs-30: 1.875rem;
    --fs-32: 2rem;
    --fs-34: 2.13rem;
    --fs-35: 2.1875rem;
    --fs-38: 2.38rem;
    --fs-36: 2.25rem;
    --fs-40: 2.5rem;
    --fs-48: 3rem;
    --fs-44: 2.75rem;
    --fs-52: 3.25rem;
    --fs-64: 4rem;
    --fs-68: 4.25rem;
    --fs-80: 5rem;
    --fs-82: 5.13rem;
    --fs-90: 5.63rem;
    --fs-232: 14.5rem;
    --fs-463: 28.94rem;
    //----------line-height-------------
    --lh-100: 100%;
    --lh-110: 110%;
    --lh-115: 115%;
    --lh-125: 120%;
    --lh-120: 125%;
    --lh-130: 130%;
    --lh-135: 135%;
    --lh-140: 140%;
    --lh-145: 145%;
    --lh-150: 150%;
    --lh-160: 160%;
    --lh-170: 170%;
    --lh-175: 175%;
    --lh-180: 180%;
}

// =====================================style==================================

//основные импорты
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


@import "fonts";
@import "variables";
@import "mixin";
@import "reset";
@import "root";
@import "typography";

//========основные стили============
body {
    font-family: "Roboto", sans-serif;
}

//==================================

//Импорты блоков и компонентов
@import "./components/header";
@import "./components/footer";

// =============================типографика===========================

h1 {
    @include font(var(--fw-300), clamp(1.25rem, 1.0073rem + 1.0356vw, 2.25rem), var(--primary-black), var(--lh-100));
}

// =============================сброс===========================

* {
    margin: 0;
    padding: 0;
    border: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
    border: transparent;
    background-color: transparent;
}

ul,
summary {
    list-style: none;
}

body,
html {
    min-height: 100vh
}

footer {
    margin-top: auto;
}

body {
    display: flex;
    flex-direction: column;
}

.img-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

//убирает обводку элемента при фокусе
:focus {
    outline: 0;
    outline-offset: 0;
}

summary::marker {
    content: "";
}

// =============================переменные===========================

//=========сетка брейкпоинтов==============
$breakpoints: (
    "tel-old": (max-width: 420px,
    ),
    "tel": (max-width: 576px,
    ),
    "tab": (max-width: 768px,
    ),
    "nout": (max-width: 992px,
    ),
    "pc-old": (max-width: 1200px,
    ),
    "pc": (max-width: 1400px,
    ),
);

// ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
// ==================================Мобильное меню======================================================
// ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||

._spoiler-js-menu {
    color: white;
    position: absolute;
    top: 0;
    right: -25px;
    transition: 0.3s;

    &.active {
        transition: 0.3s;
        transform: rotate(180deg);
    }
}

.mob-nav-item {
    position: relative;
    max-width: 150px;
}


// ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
// ==================================Меню======================================================
// ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||


// кнопка бургера
.mob-nav-btn {
    display: none;
    position: relative;
    z-index: 10;
    width: 30px;
    height: 30px;
    background: none;
    border: none;
    align-items: center;
    cursor: pointer;

    &>span {
        display: flex;
        width: 100%;
        border: 1px solid black;
        position: relative;

        &::after {
            content: "";
            transition: 0.3s;
            position: absolute;
            display: flex;
            width: 100%;
            border: 1px solid black;
            left: -1px;
            bottom: 10px;
        }

        &::before {
            content: "";
            transition: 0.3s;
            position: absolute;
            display: flex;
            width: 100%;
            border: 1px solid black;
            left: -1px;
            top: 10px;
        }
    }

    &.active {
        &>span {
            border: none;

            &::after {
                transition: 0.3s;
                transform: rotate(45deg);
                bottom: -1px;
            }

            &::before {
                transition: 0.3s;
                transform: rotate(-45deg);
                top: -1px;
            }
        }
    }

    @media (max-width:800px) {
        display: flex;
    }
}

// обертка мобильного меню
.mob-nav {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    transform: translateY(-100%);
    transition: 0.3s;
    background: green;
    height: 100dvh;

    &.active {
        display: flex;
        transform: translateY(0);
        transition: 0.3s;

    }

}


// ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
// ==================================Отправка формы======================================================
// ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||

.form-message {
    display: none;
}

.active_green {
    display: flex;
    border: 1px solid green;
    color: green;
}

.active_red {
    display: flex;
    border: 1px solid red;
    color: red;
}

// ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
// ==================================Табы======================================================
// ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||

.tabs {
    display: flex;
    flex-direction: column;
}

.tabs__title-box {
    display: flex;
    width: 100%;

    @media (max-width: 600px) {
        flex-direction: column;
        align-items: flex-start;
    }
}

.tabs__title {
    text-align: center;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
        transition: 0.3s;
        text-shadow: 0 0 0.5px black;
    }

    &.active {
        transition: 0.3s;
        text-shadow: 0 0 0.5px black;
    }
}

.tabs__item-box {}

.tabs__item {
    display: none;
    flex: 1 1 100%;

    &.active {
        display: flex;
    }
}


// ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
// ==================================Спойлер======================================================
// ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||

summary {
    display: flex;
    align-items: center;

    &::after {
        content: '';
        position: absolute;
        right: 9px;
        bottom: 22px;
        width: 30px;
        height: 30px;
        border-radius: 100%;
        background: url(../img/values/spoiler-arrow.svg) center/60% no-repeat, var(--primary-white);
        transition: 0.3s;
        transform: rotate(180deg);
    }

    &.active {
        &::after {
            transition: 0.3s;
            transform: rotate(0deg);
        }
    }
}

// ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
// ==================================Модальные окна======================================================
// ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||


.popup-bg {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 100;
    visibility: hidden;

    &.active {
        visibility: visible;
    }
}

.popup-wrap {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    padding: 40px 10px;
}

.popup-exit {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    font-size: 1.5em;
    transition: 0.2s;
    color: white;
    cursor: pointer;

    &:hover {
        transition: 0.2s;
        transform: scale(1.2);
    }
}


// ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
// ==================================Прелоадор======================================================
// ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||

#preloader {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    overflow: visible;
    background: rgb(34 34 34) url('https://usagif.com/wp-content/uploads/loading-10.gif') no-repeat center center;
}

.visible {
    visibility: visible;
    opacity: 1;
    transition: opacity 2s linear;
}

.hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 2s, opacity 2s linear;
}


// ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
// ==================================Анимация фона переходящего с карточки на карточку======================================================
// ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||

.service__content-item {
    overflow: hidden;

    & :not(:first-child) {
        position: relative;
        z-index: 20;
    }
}

//элемент который двигается и меняет фон
.service__content-item-bg-blue {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: transparent;
    transform: translateX(-100%);
}