// ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
/*=========== Исправлена ошибка прокрутки в iOS Safari с фиксированными элементами и нижней панелью ====================*/
// |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| 

body.noscroll {
  height: 100%;
  overflow: hidden;
  /* убедитесь, что iOS не пытается сначала прокрутить тело */
}

/* ваша оболочка, скорее всего, мобильное меню */
.fixed-wrapper {
  width: 100%;
  position: fixed;
  top: 0px;
  /* добавление единицы измерения px также кажется важным по какой-либо причине, хотя, я думаю, мы все согласны с тем, что это должно быть без единиц измерения */
  left: 0px;
  bottom: 0px;
  height: 100vh;
  overflow: scroll;
  /* не автоматический! */

  /* исправлена ошибка magic mobile viewport в iOS */
  /* also see: https://css-tricks.com/css-fix-for-100vh-in-mobile-webkit/ */
  /* also see: https://allthingssmitty.com/2020/05/11/css-fix-for-100vh-in-mobile-webkit/ */
  height: -webkit-fill-available;
  -webkit-overflow-scrolling: touch;
}

/* ваше реальное содержание, которое выше, чем внешний элемент */
.fixed-wrapper .fixed-content {
  min-height: 100vh;
  /* это волшебная ошибка, на самом деле нарушающая работу iOS здесь */
}


// ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
//==================================================Фулскрин==========================================
// ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||

body {
  height: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.fullscreen {
  min-height: 100vh;
}

.fullscreen__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.content__wrap {
  flex: 1 1 auto;
}


// ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
//==================================================Слайдер, который выходит за границы справа==========================================
// ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
.swiper {
  width: calc(100vw - (100vw - ширина контейнера) / 2);
}

// ------------------- (альтернатива)----------------
section {
  overflow: hidden;
}

.swiper {
  width: calc(50% + 50vw);
}


// ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
//============================================Адаптивное изображение=======================================
// ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||

//оболочка изображения
.wrap-img {
  position: relative;
  width: %;
  height: 0;
  padding-bottom: prop();
}

//изображение
.img-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


// ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
//==============================Анимированное подчеркивание=======================================
// ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||

a {
  text-decoration: none;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size 0.3s;
}

a:hover {
  background-size: 100% 2px;
}

.flex {
  flex-basis: calc((100% - кол-во маржинов в строке * значение маржина) / кол-во элементов в строке);
}


// ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
//==============================Фоновое изображение с прокруткой 
// ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||

.fonovoe_izobragenie {
  background-attachment: fixed;
}